<html>

<head> </head>

<body>
  <div class="main-content">
    <div class="Container-fluid">
      <div class="row">

        <div class="col-md-9">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">User Summary</h4>
            </div>
            <div class="card-body">
              <table mdbTable>
                <!-- User picks table -->
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Resturant</th>
                    <th>Picked item</th>
                  </tr>
                </thead>
                <tbody>
                  <tr mdbTableCol *ngFor="let user of treatSummaryList">
                    <td>{{ user.userName }}</td>
                    <td>{{ user.restaurantName }}</td>
                    <td>{{ user.pick }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-9" *ngFor="let restaurantTable of restaurantTables">
          <div class="card" id="cd1">
            <div class="card-header card-header-danger">
              <h4 class="card-title">{{ restaurantTable.restaurantName }}
                <span><i style="font-size: small;"> {{ "       Phone: " +restaurantTable.phone }}</i>
                </span></h4>
            </div>
            <div class="card-body">
              <table mdbTable>
                <thead>
                  <tr>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th style="text-align: right;"> Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr mdbTableCol *ngFor="let restaurantItem of restaurantTable.restaurantOrders">
                    <td>{{ restaurantItem.menuName }}</td>
                    <td>{{ restaurantItem.quantity }}</td>
                    <td>{{ restaurantItem.price }}</td>
                    <td style="text-align: right;">{{ restaurantItem.total | number : '1.2-2' }}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="font-weight: bold; text-align:right;border-top-style:groove;">
                      {{ restaurantTable.subTotal | number : '1.2-2' }}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>