<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Provider - Confirmation</h4>
                    </div>
                    <div class="card-body">
                      <div class="text-left">
                          <div class="row">
                            <div class="col">   
                        <img src="https://cdn.pixabay.com/photo/2012/04/24/16/22/check-40319_960_720.png"
                            height="200" width="200" class="rounded float-left" alt=""></div>
                            <div class="col">
                            <br><br><br>
                            <p style="font-family:verdana">Your Participation Details Are Already Submitted!!</p>
                            <br>
                            <h4> Thank You !! </h4>
                            </div> 
                        </div>
                    </div>
                                     
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
